name: notevault
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  provider: ^6.0.3
  sqflite: ^2.0.0+4
  path_provider: ^2.0.11
  intl: ^0.17.0

flutter:
  uses-material-design: true
  assets: 
    - assets/intro_screen_illustration.png
    - assets/bg_pattern_1.png
